wp-admin
wp-includes
wp-content/languages
wp-content/plugins
wp-content/uploads
wp-content/index.php

wp-content/themes/*
!wp-content/themes/kodex/
wp-content/themes/kodex/assets/node_modules

# root
/*.php
/license.txt
/readme.html

.idea
.DS_Store
wp-content/backups-dup-lite
