#zox-demo-site-wrap {
    float: left;
    width: 100%;
}

.zox-demo-menu-wrap {
    position: absolute;
    top: 30px;
    left: 0;
    text-align: center;
    width: 100%;
}

ul.zox-demo-menu {
    margin: 0 auto;
}

ul.zox-demo-menu li {
    display: inline-block;
}

ul.zox-demo-menu li a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 0 20px;
    text-transform: uppercase;
}

.zox-demo-top-wrap {
    background: #000 url(../assets/img/zoxpress-demo-bg.jpg) no-repeat 50% 0 !important;
    background-size: cover !important;
    position: relative;
    width: 100%;
    height: 100vh;
}

.zox-demo-top-grid {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
}

.zox-demo-top-cont {
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
}

.zox-demo-arrow {
    color: #fff;
    font-size: 40px;
    margin: 0 0 0 -50px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    text-align: center;
    width: 100px;
}

.zox-demo-arrow a,
.zox-demo-arrow a:visited {
    color: #fff;
}

.zox-demo-main-wrap {
    background: #f0f0f0;
    padding: 60px 0;
    width: 100%;
}

.zox-demo-main-width {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1240px;
}

.zox-demo-skin-grid {
    display: grid;
    align-content: start;
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px 0;
}

.zox-demo-skin {
    line-height: 0;
    position: relative;
}

span.zox-demo-title {
    color: #000;
    line-height: 1;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 15px;
    position: relative;
    top: 0;
    text-align: center;
    transition: all .25s;
    width: 100%;
}

.zox-demo-skin:hover span.zox-demo-title {
    top: -10px;
}

.zox-demo-skin img {
    border: 1px solid #ddd;
    box-shadow: 0 0 40px 1px rgba(0,0,0,.15);
    position: relative;
    top: 0;
    transition: all .25s;
}

.zox-demo-skin:hover img {
    box-shadow: 0 15px 40px 1px rgba(0,0,0,.3);
    top: -10px;
}

#zox-foot-wrap.zox-demo-foot {
    padding: 40px 30px;
}

.zox-demo-foot .zox-foot-copy {
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 899px) and (min-width: 600px) {

    ul.zox-demo-menu li a {
        font-size: 16px;
    }

    .zox-demo-top-logo {
        max-width: 300px;
    }

    .zox-demo-main-wrap,
    .zox-demo-skin-grid {
        padding: 30px 0;
    }

    span.zox-demo-title {
        font-size: 1rem;
    }

    .zox-demo-skin-grid {
        grid-gap: 30px;
    }

}

@media screen and (max-width: 599px) {

    ul.zox-demo-menu li a {
        font-size: 12px;
        padding: 0 5px;
    }

    .zox-demo-top-wrap {
        height: 400px;
    }

    .zox-demo-top-logo {
        max-width: 200px;
    }

    .zox-demo-arrow {
        bottom: 10px;
        font-size: 20px;
    }

    .zox-demo-main-wrap,
    .zox-demo-skin-grid {
        padding: 20px 0;
    }

    span.zox-demo-title {
        font-size: 1rem;
    }

    .zox-demo-skin-grid {
        grid-gap: 40px;
        grid-template-columns: 100%;
    }

}