a,
a:visited,
a:hover h2.zox-s-title1,
a:hover h2.zox-s-title1-feat,
a:hover h2.zox-s-title2,
a:hover h2.zox-s-title3,
.zox-post-body p a,
h3.zox-post-cat a,
.sp-template a,
.sp-data-table a,
span.zox-author-name a,
a:hover h2.zox-authors-latest,
span.zox-authors-name a:hover,
#zox-side-wrap a:hover {
    color: #ff0e50;
}

.zox-s8 a:hover h2.zox-s-title1,
.zox-s8 a:hover h2.zox-s-title1-feat,
.zox-s8 a:hover h2.zox-s-title2,
.zox-s8 a:hover h2.zox-s-title3 {
    box-shadow: 15px 0 0 #fff, -10px 0 0 #fff;
    color: #ff0e50;
}

.woocommerce-message:before,
.woocommerce-info:before,
.woocommerce-message:before,
.woocommerce .star-rating span:before,
span.zox-s-cat,
h3.zox-post-cat a,
.zox-s6 span.zox-s-cat,
.zox-s8 span.zox-s-cat,
.zox-widget-side-trend-wrap .zox-art-text:before {
    color: #23001b;
}

.zox-widget-bgp,
.zox-widget-bgp.zox-widget-txtw .zox-art-wrap,
.zox-widget-bgp.zox-widget-txtw .zox-widget-featl-sub .zox-art-wrap,
.zox-s4 .zox-widget-bgp span.zox-s-cat,
.woocommerce span.onsale,
.zox-s7 .zox-byline-wrap:before,
.zox-s3 span.zox-s-cat,
.zox-o1 span.zox-s-cat,
.zox-s3 .zox-widget-side-trend-wrap .zox-art-text:before,
.sp-table-caption,
#zox-search-form #zox-search-submit,
#zox-search-form2 #zox-search-submit2,
.pagination .current,
.pagination a:hover,
.zox-o6 span.zox-s-cat {
    background: #23001b;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #23001b;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border-top-color: #23001b;
}

.zox-feat-ent1-left,
.zox-ent1 .zox-side-widget {
    border-top: 2px solid #23001b;
}

.zox-feat-ent3-main-wrap h2.zox-s-title2 {
    background-color: #23001b;
    box-shadow: 15px 0 0 #23001b, -10px 0 0 #23001b;
}

.zox-widget-side-trend-wrap .zox-art-text:before,
.pagination .current,
.pagination a:hover {
    border: 1px solid #23001b;
}

.zox-post-type {
    border: 3px solid #23001b;
}
.zox-net1 .zox-post-type,
.zox-net2 .zox-post-type {
    background: #23001b;
}
.zox-widget-featl-sub .zox-post-type {
    border: 2px solid #23001b;
}

@media screen and (max-width: 479px) {
    .zox-net1.zox-s4 .zox-widget-bgp .zox-art-main span.zox-s-cat {
        background: #23001b !important;
    }
}

.zox-o3 h3.zox-s-cat {
    background: #dddddd;
}

.zox-widget-bgs,
.zox-widget-bgs.zox-widget-txtw .zox-art-wrap,
.zox-widget-bgs.zox-widget-txtw .zox-widget-featl-sub .zox-art-wrap,
.zox-s4 .zox-widget-bgs span.zox-s-cat {
    background: #dddddd;
}

#zox-top-head-wrap {
    background: #ffffff;
}

span.zox-top-soc-but,
.zox-top-nav-menu ul li a,
span.zox-woo-cart-icon {
    color: #555555;
}

span.zox-woo-cart-num {
    background: #555555;
}

.zox-top-nav-menu ul li:hover a {
    color: #ed1c24;
}

#zox-top-head-wrap,
#zox-top-head,
#zox-top-head-left,
#zox-top-head-mid,
#zox-top-head-right,
.zox-top-nav-menu ul {
    height: 40px;
}

#zox-top-head-mid img {
    max-height: calc(40px - 20px);
}

.zox-top-nav-menu ul li a {
    font-size: 14px;
}

#zox-bot-head-wrap,
#zox-bot-head-wrap.zox-trans-bot.zox-fix-up,
#zox-fly-wrap,
#zox-bot-head-wrap.zox-trans-bot:hover {
    background-color: #23001b;
    background-image: none;
}

.zox-nav-menu ul li a,
span.zox-nav-search-but,
span.zox-night,
.zox-trans-bot.zox-fix-up .zox-nav-menu ul li a,
.zox-trans-bot.zox-fix-up span.zox-nav-search-but,
nav.zox-fly-nav-menu ul li a,
span.zox-fly-soc-head,
ul.zox-fly-soc-list li a,
nav.zox-fly-nav-menu ul li.menu-item-has-children:after {
    color: #ffffff;
}

.zox-nav-menu ul li.menu-item-has-children a:after,
.zox-nav-menu ul li.zox-mega-drop a:after {
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.zox-fly-but-wrap span,
.zox-trans-bot.zox-fix-up .zox-fly-but-wrap span {
    background: #ffffff;
}

.zox-nav-menu ul li:hover a,
span.zox-nav-search-but:hover,
span.zox-night:hover {
    color: #ed1c24;
}

.zox-fly-but-wrap:hover span {
    background: #ed1c24;
}

span.zox-widget-main-title {
    color: #6a0432;
}

#zox-foot-wrap {
    background: #000000;
}

#zox-foot-wrap p {
    color: #777777;
}

#zox-foot-wrap a {
    color: #777777;
}

ul.zox-foot-soc-list li a {
    border: 1px solid #777777;
}

span.zox-widget-side-title {
    color: #6a0432;
}

span.zox-post-main-title {
    color: #000;
}

.zox-top-nav-menu ul li a {
    padding-top: calc((40px - 14px) / 2);
    padding-bottom: calc((40px - 14px) / 2);
}

#zox-bot-head-wrap,
.zox-bot-head-menu,
#zox-bot-head,
#zox-bot-head-left,
#zox-bot-head-right,
#zox-bot-head-mid,
.zox-bot-head-logo,
.zox-bot-head-logo-main,
.zox-nav-menu,
.zox-nav-menu ul {
    height: 80px;
}

.zox-bot-head-logo img,
.zox-bot-head-logo-main img {
    max-height: calc(80px - 20px);
}

.zox-nav-menu ul li ul.sub-menu,
.zox-nav-menu ul li.menu-item-object-category .zox-mega-dropdown {
    top: 80px;
}

.zox-nav-menu ul li a {
    font-size: 22px;
}

.zox-nav-menu ul li a {
    padding-top: calc((80px - 22px) / 2);
    padding-bottom: calc((80px - 22px) / 2);
}

.zox-fix-up {
    top: -80px !important;
    -webkit-transform: translate3d(0,-80px,0) !important;
    -moz-transform: translate3d(0,-80px,0) !important;
    -ms-transform: translate3d(0,-80px,0) !important;
    -o-transform: translate3d(0,-80px,0) !important;
    transform: translate3d(0,-80px,0) !important;
}

.zox-fix {
    top: -80px;
    -webkit-transform: translate3d(0,80px,0) !important;
    -moz-transform: translate3d(0,80px,0) !important;
    -ms-transform: translate3d(0,80px,0) !important;
    -o-transform: translate3d(0,80px,0) !important;
    transform: translate3d(0,80px,0) !important;
}

.zox-fix-up .zox-nav-menu ul li a {
    padding-top: calc((60px - 22px) / 2);
    padding-bottom: calc((60px - 22px) / 2);
}

.zox-feat-ent1-grid,
.zox-feat-ent2-bot,
.zox-feat-net1-grid {
    grid-template-columns: auto 300px;
}

body,
span.zox-s-cat,
span.zox-ad-label,
.woocommerce ul.product_list_widget li a,
.woocommerce ul.product_list_widget span.product-title,
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta,
.woocommerce div.product p.price,
.woocommerce div.product p.price ins,
.woocommerce div.product p.price del,
.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price ins,
.woocommerce ul.products li.product .price,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce span.onsale,
.woocommerce-review-link,
#woo-content p.woocommerce-result-count,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce .woocommerce-breadcrumb,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.zox-post-tags-header,
.zox-post-tags a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: None;
}

#zox-woo-side-wrap span.zox-widget-side-title,
span.zox-authors-name a,
h1.zox-author-top-head {
    font-family: 'Roboto', sans-serif;
}

p.zox-s-graph,
span.zox-post-excerpt p,
.zox-post-body p,
#woo-content p,
#zox-404 p,
.zox-post-body ul li,
.zox-post-body ol li,
.zox-author-box-text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: None;
}

.zox-nav-menu ul li a,
.zox-top-nav-menu ul li a,
nav.zox-fly-nav-menu ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: Capitalize;
}

.zox-nav-menu ul li ul.zox-mega-list li a,
.zox-nav-menu ul li ul.zox-mega-list li a p {
    font-family: 'Roboto', sans-serif;
}

h2.zox-s-title1,
h2.zox-s-title1-feat,
.woocommerce div.product .product_title,
.woocommerce .related h2,
#woo-content .summary p.price,
.woocommerce div.product .woocommerce-tabs .panel h2,
#zox-404 h1,
h1.zox-post-title,
.zox-widget-side-trend-wrap .zox-art-text:before,
.zox-post-body blockquote p,
.zox-post-body .wp-block-pullquote blockquote p,
.zox-post-body h1,
.zox-post-body h2,
.zox-post-body h3,
.zox-post-body h4,
.zox-post-body h5,
.zox-post-body h6,
.comment-inner h1,
.comment-inner h2,
.comment-inner h3,
.comment-inner h4,
.comment-inner h5,
.comment-inner h6,
span.zox-author-box-name a {
    font-family: 'Alegreya', sans-serif;
    font-weight: 900;
    text-transform: Capitalize;
}

span.zox-widget-main-title {
    //font-family: 'Heebo', sans-serif;
    font-weight: 900;
    text-transform: Uppercase;
}

span.zox-widget-side-title {
    //font-family: 'Heebo', sans-serif;
    font-weight: 900;
    text-transform: Uppercase;
}

span.zox-post-main-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: Capitalize;
}

h2.zox-s-title2,
h2.zox-s-title3,
span.zox-woo-cart-num,
p.zox-search-p,
.alp-related-posts .current .post-title,
.alp-related-posts-wrapper .alp-related-post .post-title,
.zox-widget-txtw span.zox-widget-main-title {
    //font-family: 'Heebo', sans-serif;
    font-weight: 800;
    text-transform: Capitalize;
}

.zox-post-width {
    margin: 0 auto;
    max-width: calc(1240px + 60px);
}




.zox-bot-head-logo img {
    position: relative;
    top: 8px;
}
@media screen and (max-width: 599px) {
    .zox-bot-head-logo img {
        top: auto;
    }
}
.zox-fix-up .zox-bot-head-logo img {
    top: auto;
}
#zox-bot-head-mid {
    position: relative;
}
span.zox-s-cat,
.zox-byline-wrap span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
span.zox-s-cat {
    color: #333;
    font-size: 13px;
    letter-spacing: .05em;
    text-transform: uppercase;
}
.zox-byline-wrap span,
span.zox-byline-name a {
    color: #333;
    font-size: .75rem;
    font-weight: 400;
}
h2.zox-s-title1,
h2.zox-s-title1-feat {
    color: #6a0432;
}
h2.zox-s-title1,
h2.zox-s-title1-feat {
    letter-spacing: 0;
}
.zox-widget-side-trend-wrap .zox-art-text:before {
    color: #bbb;
}


.zox-head-width {
    margin: 0 auto;
    max-width: calc(1260px + 60px);
}
.zox-nav-menu ul li.zox-mega-drop .zox-mega-dropdown {
    left: calc(((100vw - 100%) /2) * -1);
}


.zox-body-width,
.zox-widget-feat-wrap.zox-o1 .zox-art-text-cont,
.zox-widget-feat-wrap.zox-o4 .zox-art-text-cont,
.zox-widget-feat-main.zox-o1 .zox-art-text-cont,
.zox-widget-feat-main.zox-o4 .zox-art-text-cont {
    margin: 0 auto;
    padding: 0 30px;
    max-width: calc(1260px + 60px);
}


#zox-top-head {
    grid-template-columns: auto 250px;
}
#zox-top-head-left {
    width: 100%;
}
#zox-top-head-mid {
    display: none;
}


#zox-bot-head-mid {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    justify-content: start;
    position: relative;
}
.zox-bot-head-logo {
    position: relative;
    top: auto;
    left: auto;
}
#zox-bot-head-wrap .zox-nav-menu ul li:first-child a {
    padding-left: 0;
}
.zox-bot-head-menu {
    padding: 0;
}


@media screen and (min-width: 1024px) {
    #zox-bot-head-left {
        display: none;
    }
    #zox-bot-head {
        grid-template-columns: auto 60px;
    }
}
@media screen and (max-width: 1023px) {
    #zox-bot-head-left {
        display: grid;
    }
}


.zox-fix-up {
    box-shadow: 0 0.5rem 1rem 0 rgba(21,21,30,0.08);
}

.zox-feat-ent1-grid,
.zox-feat-net1-grid {
    grid-template-columns: calc(100% - 320px) 300px;
}
.zox-post-main-wrap {
    grid-template-columns: calc(100% - 360px) 300px;
}
#zox-home-body-wrap {
    grid-template-columns: calc(100% - 360px) 300px;
}


.zox-post-body p a {
    box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 #ff0e50;
    color: #000;
}
.zox-post-body p a:hover {
    color: #ff0e50;
}


h4.zox-widget-main-title {
    text-align: left;
}
span.zox-widget-main-title {
    font-size: 1.5rem;
    letter-spacing: .1em;
}


h4.zox-widget-side-title {
    text-align: left;
}
span.zox-widget-side-title {
    font-size: 1.125rem;
    letter-spacing: .1em;
}


h4.zox-post-main-title {
    text-align: left;
}
span.zox-post-main-title {
    font-size: 1.5rem;
    letter-spacing: .1em;
}


.zox-post-ad {
    height: calc(100vh - 100px);
}
.zox-post-ad-in1 {
    clip: rect(0,auto,auto,0);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    zoom: 1;
    height: 100%;
}
.zox-post-ad-in2 {
    position: fixed;
    left: auto;
    top: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}


#zox-lead-top-wrap {
    position: relative;
    height: 0;
}
#zox-lead-top-in {
    clip: rect(0,auto,auto,0);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    zoom: 1;
    width: 100%;
    height: 100%;
}
#zox-lead-top {
    position: fixed;
    top: 0;
    left: 0;
}





#zox-lead-top {
    background-color: #000;
}

@media screen and (min-width: 600px) {
    .zox-bot-head-logo img {
        top: 10px;
    }
}
